<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado</title>
</head>
<body>
    <h1>Lista de {{nombre}}:</h1>

    <style>
        table, th, td {
          border:1px solid black;
        }
    </style>
        <body>
        
        <table>
            
          <tr>
            <th>Codigo</th>
            <th>Descripcion</th>
            {% if nombre == "articulos" %}
            <th>Precio</th>
            {%endif%}
          </tr>
          {% for articulo in articulos %}
          <tr>
            <td> {{ articulo.codigo }} </td>
            <td> {{ articulo.descripcion }} </td>
            {% if nombre == "articulos" %}
            <td> {{ articulo.precio }} </td>
            {%endif%}
          </tr>
          {% endfor %}
        </table>


   
</body>
</html>